:root {
  --red: #FF1E00;
  --black: #2D2D2D;
  --white: #ffffff;
  --grey: #E0E0E0;
  --gray-light: #FAFAFA;
  --grey-dark: #989898;
  --grey-dark-opacity: rgba(152, 152, 152, 0.5);
  --green: #59AD02;
  --bg-grey: url("/images/merch_bg.jpg") center/ cover no-repeat;
}