:root {
  --red: #FF1E00;
  --black: #2D2D2D;
  --white: #ffffff;
  --grey: #E0E0E0;
  --gray-light: #FAFAFA;
  --grey-dark: #989898;
  --grey-dark-opacity: rgba(152, 152, 152, 0.5);
  --green: #59AD02;

  --bg-grey: url("/images/bg.png") center/ cover no-repeat;

  --body-font: 'Albertus Nova', sans-serif;
  --special-font: "Open Sans", sans-serif;
  --num-font: "Noto Sans", sans-serif;

}